extends layout

mixin highlight_box(id, name, date, icon, post)
  .col-lg-3.col-md-4.col-sm-5.col-xs-6
    .box(href="#")
      -var postUrl = '/blog/post/item/' + post.id
      .aligncenter
        a(id=id href= postUrl)
          h4.box-title= name
    - var image;    
    - if (typeof post !== 'undefined' && typeof post.imgUrls !== 'undefined' && post.imgUrls.length > 0){
    -  image=post.imgUrls[Math.floor(Math.random() * post.imgUrls.length)];
      .box-gray(style='background-image:url("' + image + '");'
                onclick="location.href='" + postUrl + "';")
    - } else {
      .box-gray(random-image onclick="location.href='" + postUrl + "';")
    -}    
      .title-block
        .box-stat-info
          span#publish-date= date
          -var fullUrl = baseUrl + '/blog/post/item/' + post.id;
          span#comments
            i.fa.fa-comments
            span.disqus-comment-count(data-disqus-url= fullUrl)
        if block
          block
        else
          h4 No Content Provided

mixin sample_dummy_text()
  h4 See how your website convert to money
mixin put_content(content)
  h4= content  

block content
  body(ng-controller='backgroundController')
    .loader-wrapper
      .loader
    include ./includes/header-navbar-section.jade
    #skrollr-body
    section.homeSlide#slide-1
      .bcg(data-center="background-position: 50% 0px;"
         data-top-bottom="background-position: 50% -100px;"
         data-anchor-target="#slide-1" random-image)
        .hsContainer
          .hsContent(data-center="opacity: 1"
                 data-top="opacity: 0"
                 data-anchor-target="#slide-1 h2")
            .quote_wrapper     
              h2.quote Think before you speak. Read before you think.
              p.quote ― Fran Lebowitz, The Fran Lebowitz Reader    
    a.anchor#highlight-section(name="hightlight-section")
    section.highlight.article
      .container
        .row
          .col-sm-6.col-sm-offset-3
            h2.section-title.highlight-title.font-alt Blog Highlight
        .row    
          .hlt-container(style="position:relative;")
            .rq-p-col
              each post, i in posts
                - var date = new Date(post.date);
                +highlight_box("title" + i, post.title, date.toDateString(),"fa-desktop", post)
                  .digest_container
                    h5.more= post.content
    a.anchor#about-me(name="about-me")
    section.about-me.article
      .container
        .row
          .col-sm-6.col-sm-offset-3
            h2.section-title.about-me-title.font-alt About Me
        .about-me-content     
          p 
            | I am a converted software developer from a biomedical field. Althougth I am not unfamaliar with programming when I was in school.
            | The choices of programming languages were primarily high level descriptive ones such as MATLAB, R even LabView.
            | I started serious programming since I joined Bloomberg early 2012. We had a four-month intensive UNIX, C/C++ and JavaScript training, 
            | as long as some basical CS background knowledge. 
          p 
            | I spent most of my time writing C++ and XSLT the first few years. Before I left Bloomberg, I did a bit coding in JAVA, mainly used 
            | Java 6 in combination with Spring xml based IOC. I wrote a lot of XML parsers with Python using lxml libary. I also maintained a 
            | very chaotic string parsing library.
          p  
            | After I left Bloomberg and joined the current company, I spend most of my time building a discimination analysis
            | library for animal test in C# and C++. Recently, I devote a good chunk of my time doing full stack development. 
            | My day job is to develop a ASP.NET based numerical analysis software for internal and some external clients. 
            | The website is built on a legacy Webform application which pulls data from varioius WCF servies. I am mainly working on unifying and 
            | replacing the WCF services. Also, I am developing a library for real-time data visualization using several open source JavaScript libraries
            | such as d3.js, three.js, etc.
    a.anchor#contact-me(name="contact-me")
    section.contact-me.article
      .container
        .row
          .col-sm-6.col-sm-offset-3
            h2.section-title.about-me-title.font-alt Contact and Comment
        .about-me-content   
          p     
          | You can reach me through linkedin. I don't use twitter or facebook too much
          | except for occasinal checking in at great restaurants or places of interest during travelling.
      include ./includes/body_scripts.jade
    footer
      include ./includes/footer_section.jade
    .scroll-up
      a.back-to-top(href="#totop" style="display:block")
        i.fa.fa-angle-double-up
        
